.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.foo{
  position: fixed;
  bottom: 0;
  padding-bottom: 20px;
  left: 35%;
}

@media screen and (max-width:700px) {
  .foo{
    position: fixed;
    bottom: 0;
    left: 20%;
  } 
}

@media screen and (max-width:450px) {
  .foo{
    position: fixed;
    bottom: 0;
    left: 15%;
    font-size: x-small;
  } 
}